/vendor/
/node_modules/
.env
.env.*
!.env.example
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/public/build
Homestead.json
Homestead.yaml
.auth
.phpunit.result.cache
*.sqlite
*.sqlite-journal
.DS_Store
Thumbs.db
.idea/
.vscode/
composer.lock
package-lock.json
yarn.lock